{% layout 'layout.liquid' %}
{% block content %}

<div class="container-sm text-center con-pad">
    <h3>
        <strong>
            Join us to stay concious of our air IQ.
        </strong>
    </h3>
    <form action="/auth/signup" method="POST">
        <fieldset>
            <legend>Easy to sign up:</legend>
            <label class="form-label">Username: </label>
            <input type="text" name="username" placeholder="username" class="form-control form-control-lg text-center" required>
            <label class="form-label">Password</label>
            <input type="password" name="password" placeholder="enter password" class="form-control form-control-lg text-center" required>
        </fieldset>
        <input type="submit" value="Create Account" class="btn btn-light button">
    </form>
</div>

{% endblock %}