{% layout 'layout.liquid' %}
{% block content %}

<div class="container-sm con-pad">
    <h3>
        <strong>
            Join us to find out more about the air around you.
        </strong>
    </h3>
    <form action="/auth/signup" method="POST">
        <fieldset>
            <legend>Let's start by creating a new account:</legend>
            <label class="form-label">Username: </label>
            <input type="text" name="username" placeholder="username" class="form-control form-control-lg" required>
            <label class="form-label">Password</label>
            <input type="password" name="password" placeholder="enter password" class="form-control form-control-lg" required>
        </fieldset>
        <input type="submit" value="Create Account" class="btn btn-light button">
    </form>
</div>

{% endblock %}