{% layout 'layout.liquid'%}
{% block content %}
    <div class="container-sm text-center con-pad">
        <h3>
            <strong>
                How should we start?
            </strong>
        </h3>
    <a href="/locations/newsearch" class="btn btn-light button">New Search</a>
    <a href="/locations/mine" class="btn btn-light button">My locations</a>
       
    </div>
{% endblock %}