{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <div>
        <h2>All my saved locations</h2>
    </div>
    {% for fruit in fruits %}
    {{ air.data.location.name}}, {{ air.data.location.region}}
  {% endfor %}
</div>
{% endblock %}