{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <div>
        <h2>All my saved locations</h2>
    </div>
    {% for location in locations %}
    {{ location.search}}
  {% endfor %}
</div>
{% endblock %}