{% layout 'layout.liquid' %}
{% render './navbar.liquid', loggedIn: loggedIn, username: username, userId: userId %}

{% block content %}
<div class="container-sm">
    <form action="/locations/location" method="POST">
        <legend>I would like to see the air quality in</legend>
        <fieldset>
            <!-- <label class="form-label">Title: </label> -->
            <input 
                type="text" 
                name="city" 
                placeholder="enter city"
                class="form-control"
            >
            <input 
                type="text" 
                name="region" 
                placeholder="enter state or country (i.e.: NY or FR)"
                maxlength = "2"
                class="form-control"
            >
        </fieldset>
        <input type="submit" value="Search" class="btn btn-success">
    </form>
</div>
{% endblock %}