{% layout 'layout.liquid' %}
{% render './navbar.liquid', loggedIn: loggedIn, username: username, userId: userId %}

{% block content %}
<div class="container-sm text-center con-pad">
    <form action="/locations/location" method="POST">
        <legend>I would like to see the air quality in</legend>
        <fieldset>
            <!-- <label class="form-label">Title: </label> -->
            <input 
                type="text" 
                name="search" 
                placeholder="enter zipcode or city, region"
                class="form-control form-control-lg text-center"
            >
            <!-- <input 
                type="text" 
                name="region" 
                placeholder="enter state or country (i.e.: NY or FR)"
                maxlength = "2"
                class="form-control"
            >
            OR
            <input 
            type="text" 
            name="zipcode" 
            placeholder="enter zipcode"
            maxlength = "5"
            class="form-control"
            > -->
        </fieldset>
        <input type="submit" value="Search" class="btn btn-light button">
    </form>
    
{% endblock %}