{% layout 'layout.liquid'%}
{% block content %}
    <div class="container-sm text-center con-pad">
        <h3>
            <strong>
                How would you like to start?
            </strong>
        </h3>
    <a href="/location/new" class="btn btn-light button">New Search</a>
    <a href="/mylocations" class="btn btn-light button">My locations</a>
       
    </div>
{% endblock %}