{% layout 'layout.liquid' %}
{% render './navbar.liquid', loggedIn: loggedIn, username: username, userId: userId %}

{% block content %}
<div class="container-sm text-center con-pad">
    <form action="/location/location" method="POST">
        <legend>I would like to see the air quality in</legend>
        <fieldset>
           
            <input 
                type="text" 
                name="search" 
                placeholder="enter zipcode or city, region"
                class="form-control form-control-lg text-center"
            >
           
        </fieldset>
        <input type="submit" value="Search" class="btn btn-light button">
    </form>
    
{% endblock %}