{% layout 'layout.liquid'%}
{% block content %}
<div>
    <div>
        <h1>
            <strong>airQI</strong> </br>
        </h1>
        <h4>
            How would you like to start?
        </h4>
    </div>
    <div class="row">
       
        <div class="">
            <a href="/places/newsearch" class="btn btn-success">New Search</a>
            <a href="/places/mine" class="btn btn-success">My Places</a>
        </div>    
    
    </div>
</div>
{% endblock %}