{% layout 'layout.liquid' %}
{% render './navbar.liquid', loggedIn: loggedIn, username: username, userId: userId %}

{% block content %}
<div class="container-sm">
    <form action="/places/location" method="POST">
        <fieldset>
            <legend>I would like to see the air quality in</legend>
            <!-- <label class="form-label">Title: </label> -->
            <input 
                type="text" 
                name="location" 
                placeholder="enter your city"
                class="form-control"
            >
            <!-- <label class="form-label">I'm interested in</label>
            <input 
                type="checkbox" 
                name="body" 
                placeholder="enter place body" 
                class="form-control"
            >     -->
        </fieldset>
        <input type="submit" value="Search" class="btn btn-success">
    </form>
</div>
{% endblock %}