{% layout 'layout.liquid' %}
{% block content %}

<div>
    <h1>
        <strong>airQI</strong> </br>
    </h1>
    <h4>
        How is the air quality in your neighborhood outdoors?
    </h4>
</div>

    <div class="">
        <a href="/auth/signup" class="btn btn-success">Sign Up</a>
        <a href="/auth/login" class="btn btn-success">Login</a>
    </div>

    <footer></footer>
</body>

</html>

{% endblock %}