{% layout 'layout.liquid' %}
{% block content %}

<div class="container-md text-center con-pad">
<!-- 
    <img src="img/img-1.jpeg" alt="city-image"> -->

    <h3>
        Find out how the air quality in your area affects you.
    </h3>

    <div>
        <a href="/auth/signup" class="btn btn-light button">Sign Up</a>
        <a href="/auth/login" class="btn btn-light button">Login</a>
    </div>
    
</div>
    <footer></footer>
</body>

</html>

{% endblock %}