{% layout 'layout.liquid' %}
{% block content %}

  <div class="con-pad">
    <h2 class="display-6">My Saved Locations</h2>
    <div class="row">
      {% assign sorted_location = locations | sort:"last" %}
      {% for location in sorted_location %}
      {% if location.owner == userId  %}
      <h5 class="saved_card" style="width: 12rem;">
        <a href="/location/{{ location.search }}" class="saved_loc">{{ location.search }}</a>
        <form action="/mylocations/{{ location.id }}?_method=DELETE" method="POST">
        <input type="submit" value="DELETE" class="btn button_del">
        </form>
        {% endif %}
        {% endfor %}
      </h5>
    </div>
  </div>

{% endblock %}