.logo {
  color: teal-500;
}

.nav-text-lg {
  font-size: 3em;
  font-family: "Fredoka", sans-serif;
}

.nav-text-md {
  font-size: 1.2em;
  margin-top: 20px;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: aliceblue;
  opacity: 0.95;
  background-image: linear-gradient(rgb(212, 227, 241) 1px, transparent 1px),
    linear-gradient(to right, rgb(212, 227, 241) 1px, transparent 1px);
  background-size: 20px 20px;
  padding-bottom: 100px;
}

img {
  opacity: 0.5;
}

.line {
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgb(205, 205, 205)
  );
  height: 2px;
}

.con-pad {
  padding: 3em;
  line-height: 1.6;
}

.button {
  border: 2px solid black;
  margin: 10px;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgb(228, 228, 228)
  );
}

.button_del {
  border: 1px solid black;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgb(228, 228, 228)
  );
  margin-top: 10px;
  font-size: 0.7em;
  padding: auto;
}

ul {
  display: block;
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    rgb(205, 205, 205)
  );
  height: 70px;
  margin-top: 50px;
}

h5 {
  display: inline;
}

.saved_loc {
  font-size: 2vh;
  color: rgb(250, 101, 85);
  text-decoration: none;
  font-weight: bold;
}

.saved_loc:visited {
  color: rgb(209, 157, 151);
  text-decoration: none;
}

.saved_loc:hover,
.saved_loc:active {
  color: red;
}

.saved_card {
  padding: 1em;
  margin: 0.5em;
  background-color: white;
  border: 2px solid grey;
  border-radius: 5px;
  height: 100px;
  box-shadow: 3px 3px 10px grey;
}
.show_card {
  padding: 1em;
  margin-bottom: 30px;
  background-color: white;
  border: 2px solid grey;
  border-radius: 5px;
  height: 100%;
  box-shadow: 3px 3px 10px grey;
}


